click==7.0
Flask==1.1.1
Flask-Cors==1.10.3
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
matplotlib==3.3.0
numpy==1.19.1
pandas==1.0.5
Pillow==7.2.0
python-dateutil==2.8.1
Werkzeug==0.15.6
wrapt==1.12.1
xgboost==0.90
warnings
pickle
